/**
 * CSS for www.fittings.net.nz
 */

body {
    background-color: white;
    color: black;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
}

nav.header {
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 3px rgba(12,13,14,0.1),0 4px 20px rgba(12,13,14,0.035),0 1px 1px rgba(12,13,14,0.025)
    border-top: 3px solid #F48024;
    box-shadow: 0 1px 0 rgba(12,13,14,0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1090px;
    z-index: 1030;
    background-color: #fafafb;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    height: 60px;
    box-sizing: border-box;
}

section.content {
    position: absolute;
    top: 60px;
    left: 0px;
    min-height: 100%;
    min-width: 100%;
}

nav.sidebar {
    position: absolute;
    box-shadow: 1px 1px 1px rgba(80, 127, 174, 0.2);
    height: 100%;
    width: 200px;
}

nav.sidebar li {
    margin-top: 10px;
    margin-left: 20px;
}
