/**
 * CSS for www.fittings.net.nz
 */

*{ margin:0; box-sizing: border-box; }/* Quick reset */

body { /* or any parent wrapper */
  background-color: white;
  color: black;
  font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 700;
  font-size: 2vh;
}

#main-header  {
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    top: 0;
    left: 0;
    width: 100%;
    /*! z-index: 1030; */
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    height: 6vh;
    box-sizing: border-box;

    background-color: #EFEFEF;
}

.logo {
    height: 40px;
    width: 40px;
    float: left;
    background: url("favicon.ico") no-repeat;
    background-size: 40px;
    direction: ltr;
    text-indent: -9999px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    border: black;
}

.header-title {
    float: left;
}

.header-nav {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
}

.header-nav > ul {
    list-style: none;
}
.header-nav > li::hover {
    background-color: #eee;
    outline: 0;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: black;
}



#main-header::after {
    content: ' ';
}

.header-centre {
    margin: 10px auto 10px auto;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#main-footer {
    position: relative;
    padding-top: 5vh;
}

.footer-clearing {
    height: 100%;
    color: rgba(0, 0, 0, 0);
}

.footer-aside {
    text-align: right;
    color: white;
}

.footer-aside {
    background-color: black;
    height: 10vh;
}

.page-intro {
    background-image: url(/page-head.jpg);
    height: 70vh;
}

.page-intro .overlay {
    background: linear-gradient(to top, #fff 15%, transparent 40%);
    height: 100%;
    text-align: center;
}

.page-intro .overlay h1 {
    color: white;
    font-size: 13vh;
    line-height: 1.2;
    padding-top: 200px;
}

#content {
  flex: 1;
}

#centre-clear {
    max-width: 1000px;
    width: 70%;
    margin: 0px auto 0px auto;

}



.centre {
    margin: 0 auto;
    max-width: 1400px;
    padding-left: 24px;
    padding-right: 24px;
}






#sidebar {
    /*! box-shadow: 1px 1px 1px rgba(80, 127, 174, 0.2); */
    width: 200px;
    height: 100%;
}

.hor-nav-list {
    list-style-type: none;
}

nav.sidebar li {
    margin-top: 10px;
    margin-left: 20px;
} */
